<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="L24CMEntities" connectionString="metadata=res://*/Models.L24CM.csdl|res://*/Models.L24CM.ssdl|res://*/Models.L24CM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=intest6;Persist Security Info=True;database=l24cm&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>