iframe { border: 0; }

body { font-family: Arial, Sans-Serif; margin: 0px; padding: 0px; }

.editor-label { background-color: Gray; color: White; padding: 2px; font-size: 12px; height: auto; }

#editPanel { font-size: 11px; }
#editPanel input[type="text"] { font-size: 11px; }
.file-image-thumb { max-width: 50px; max-height: 50px; }
#editPanel .action-button, #editPanel .add-button { color: White; background-color: Gray; font-size: 16px; width: 16px; text-align: center; border: solid 1px White; cursor: pointer; }
#editPanel .action-button:hover, #editPanel .add-button:hover { background-color: Black; }
#editPanel #save { width: auto; }
#editPanel .closed { display: none; }
#editPanel .collection>table, #editPanel .collection>div { background-color: #e0e0e0; border-bottom: solid 2px White; }
#editPanel .collection .action-button { background-color: Gray; float: left; }
#editPanel .editor-field .text-box { width: 100%; }

#outer { width: 600px; height: 300px; z-index: 0; }
#listContainer, #treeContainer
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jstreelist-folder-active { border: solid 1px #3030ff; background-color: Red important!; border-radius: 3px; -moz-border-radius: 3px; }

#simplemodal-overlay { background-color: #000; }
#simplemodal-container { padding: 20px; background-color: #e0e0ff; border-radius: 8px; -moz-border-radius: 10px; }

#filename { width: 320px }
#fileDetails { float:right }
.file-image-thumb { max-width: 50px; max-height: 50px; }

#structureManager .editor-label { height: 22px; margin-bottom: 3px; cursor: pointer; }
#structureManager .template-name { float: left; width: 120px; overflow: hidden; font-size: 16px; }
#structureManager .inst { font-size: 12px; }
#structureManager .edit-area { background-color: #f0f0f0; margin-top: 3px; }
#structureManager .url-pattern { font-size: 12px; margin-top: 2px; }
#structureManager .enter-route { margin-top: 2px; }
#structureManager .input0 { border: solid 1px #0000d6 }
#structureManager .input1 { border: solid 1px #1414ff }
#structureManager .input2 { border: solid 1px #00994d }
#structureManager .input3 { border: solid 1px #4d9900 }
#structureManager .input4 { border: solid 1px #999900 }
#structureManager .input5 { border: solid 1px #d6d600 }